.container{
    width : 30%;
    height : 60vh;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    margin-left: 30vw;
    border-radius: 30px;
    align-items:center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;

}
.image{
    display: flex;
    align-content: space-around;
    padding-left: 15px;
}
.container .red{
    background-image: url(https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w600/2023/10/free-images.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: auto;
    
}
hr{
    padding-inline-start: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.container p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
.container p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
